h2 {
  opacity: 80%;
  font-weight: 400;
  font-size: 25px;
  opacity: 50%;
}

h6 {
  opacity: 50%;
}

form {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 25px;
  font-size: 30px;
}
input {
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  opacity: 60%;
  border: 1px solid #6e91bf;
}

img {
  width: 60px;
  height: 60px;
  margin-top: -25px;
}
p {
  text-align: center;
  padding-top: 12px;
}
a {
  text-decoration: none;
}
.condition-today {
  font-weight: 500;
  line-height: 1;
}
.condition-today::first-letter {
  text-transform: capitalize;
}

#units {
  position: relative;
  top: -25px;
  font-weight: 300;
  font-size: 18px;
}
.container {
  max-width: 700px;
  border: 1px solid #6e91bf;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
#temperature-today {
  font-size: 55px;
  font-weight: 400;
}
.wrapper {
  max-width: 700px;
  margin: 0 auto;
}
#current-location-button {
  background: #6e91bf;
  padding: 12px;
}
.btn-primary {
  padding: 12px;
}
.active {
  color: black;
  cursor: default;
}
.active :hover {
  text-decoration: none;
}
.weather-forecast-icon {
  margin-top: 2px;
}
.weather-forecast-min-temp {
  opacity: 0.5;
}
